
body {
    font-family: 'Segoe UI';
}

.header1 {
    font-size: xx-large;
}

.header2 {
    font-size: larger;
}

.header3 {
    font-size: medium;
}

.border {
    border: solid 1px;
    margin: auto !important;
}

.xs-margin {
    margin: 5px;
}

.xs-padding {
    padding: 5px;
}

.header-title {
    background-color: #000;
    display: block;
    width: 100%;
    color: #fff;
    position: relative;
}

.footer-title {
    min-height: 60px;
    background-color: #0078d7;
    color: #fff;
    line-height: 16px;
}
